*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/keystore.properties
/mesh/mesh.aar
/mesh/mesh-sources.jar
/mesh/build/
/app/src/main/assets/mesh-*
/.idea/
